<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An application for easy compilation and sending of reports for Saints Community Church, Lagos. This application includes report functionality for prayer group participation, prayer chain, service attendance reports, disciples, etc">
    <title>Saints Community Church | Report Application</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <link id="cdn" rel="stylesheet" type="text/css" href="<%= cdn %>">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6dab15cd58.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="container p-2">
            <% if(loggedInWorker){ %>
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="btn btn-md" data-toggle="tooltip" data-placement="bottom" title="Home"  href="/home"><i class="fas fa-home"></i></a>
                        <a class="btn btn-md" data-toggle="tooltip" data-placement="bottom" title="My Profile"  href="/profile"><i class="fas fa-id-card"></i></a>
                    </div>
                    <div>
                        <a class="btn btn-md" data-toggle="tooltip" data-placement="bottom" title="Logout" href="/logout"><i class="fas fa-user"></i> <%= loggedInWorker.firstname %> <%= loggedInWorker.surname %></a>
                    </div>
                </div>
                <% } else { %>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-md p-2" href="/login">Login</a>
                </div>
            <% } %>
        <div class="container">
        <% if(success && success.length !== 0 ) { %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
        <% } else if (error && error.length !== 0) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
        <% } else { %>
        <% } %>
        </div>
    <% if(loggedInWorker) { %>
        <div class="d-flex heading row justify-content-between">
            <a class="text-center col-lg col-md col-sm-3 home-link m-1" href="/report/"><i class="fas fa-2x fa-user-friends"></i><p>Discipleship Report</p></a>
            <a class="text-center col-lg col-md col-sm-3 home-link m-1" href="/attendance/"><i class="fas fa-2x fa-handshake"></i><p>Attendance Report</p></a>
            <a class="text-center col-lg col-md col-sm-3 home-link m-1" href="/evangelism"><i class="fas fa-2x fa-globe-africa"></i><p>Evangelism Report</p></a>
            <a class="text-center col-lg col-md col-sm-3 home-link m-1" href="/prayer"><i class="fas fa-2x fa-praying-hands"></i><p>Prayer Group Report</p></a>
            <a class="text-center col-lg col-md col-sm-3 home-link m-1" href="/prayerchain"><i class="fas fa-2x fa-pray"></i><p>Prayer Chain Report</p></a>
            <a class="text-center col-lg col-md col-sm-3 home-link m-1" href="/new/lockdown"><i class="fas fa-2x fa-house-user"></i><p>Stay-Home Report</p></a>
    <% if(loggedInWorker.isLMA) { %>
            <a class="text-center col-lg col-md col-sm-3 home-link m-1" href="/lma"><i class="fas fa-2x fa-users-cog"></i><p>LMA Admin</p></a>
        <% } %>
        </div>
    <% } %>
