<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An application for easy compilation and sending of reports for Saints Community Church, Lagos. This application includes report functionality for prayer group participation, prayer chain, service attendance reports, disciples, etc">
    <title>Saints Community Church | Report Application</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <link id="cdn" rel="stylesheet" type="text/css" href="<%= cdn %>">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6dab15cd58.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <nav class="navbar navbar-fixed-top navbar-dark nav-bg d-flex justify-content-end"> -->
    <div class="menu-wrap sticky-top">
        <nav class="navbar sticky-top d-flex">
            <% if(loggedInWorker){ %>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-md" data-toggle="tooltip" data-placement="bottom" data-id="Home" title="Home" href="/home"><i class="fas fa-home"></i></a>
                    <a class="btn btn-md menu" data-toggle="tooltip" data-placement="bottom" data-id="discipleship" title="Discipleship"  ><i class="fas fa-users"></i></a>
                    <a class="btn btn-md menu" data-toggle="tooltip" data-placement="bottom" data-id="attendance" title="Attendance"  ><i class="fas fa-handshake text-center"></i></a>
                    <a class="btn btn-md menu" data-toggle="tooltip" data-placement="bottom" data-id="prayer" title="Prayer"  ><i class="fas fa-pray"></i></a>
                    <a class="btn btn-md menu" data-toggle="tooltip" data-placement="bottom" data-id="evangelism" title="Evangelism"  ><i class="fas fa-globe-africa"></i></a>
                <% if(loggedInWorker.isLMA){ %>
                    <a class="btn btn-md menu" data-toggle="tooltip" data-placement="bottom" data-id="lma-special" title="Special Meetings"  ><i class="fab fa-meetup"></i></a>
                    <!-- <a class="btn btn-md menu" data-toggle="tooltip" data-placement="bottom" data-id="lma-add-remove" title="Add or Remove Worker" href="/lma/new"  ><i class="fas fa-exchange-alt"></i></a> -->
                    <a class="btn btn-md menu" data-toggle="tooltip" data-placement="bottom" data-id="lma-admin" title="LMA Admin" ><i class="fas fa-users-cog"></i></a>
                <% } %>
                </div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-md" data-toggle="tooltip" data-placement="bottom" title="Log Out" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
                    <a class="btn btn-md" data-toggle="tooltip" data-placement="bottom" title="My Profile" href="/profile"><i class="fas fa-user"></i> <%= loggedInWorker.firstname %></a>
                </div>
            <% } else { %>
                <div class="text-right">
                    <a class="btn btn-md p-2" href="/login">Login</a>
                </div>
            <% } %>
        </nav>
        <ul class="other-menu"></ul>
    </div>
    
    <div class="container">
        <% if(success && success.length !== 0 ) { %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
        <% } else if (error && error.length !== 0) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
        <% } else { %>
        <% } %>
    </div>
    <% if ( moment().valueOf() >= moment("Aug 1 00:00:00", "MMM DD hh:mm:ss").valueOf() && moment().valueOf() < moment("Aug 29 00:00:00", "MMM DD hh:mm:ss").valueOf()) { %>
        <% if (moment().format("DD/MM/YYYY") == moment([new Date().getFullYear(), 7, 28]).format("DD/MM/YYYY")) { %>
            <div class="text-center alert alert-primary mt-2" role="alert"><i class="fas fa-birthday-cake"></i> Hurray!!! Today, this application is <%= new Date().getFullYear()-2019 %> year %> </div>
        <% } else { %>
            <div class="text-center alert alert-primary mt-2" role="alert">By August 28, this application will be <%= new Date().getFullYear()-2019 %> year since its initial commit </div>
        <% } %>
    <% } %>
    <% if (Date.now() > moment("2020-11-11").valueOf() && Date.now() < moment("2020-11-17").valueOf()) { %>
        <div class="text-center alert alert-primary mt-2" role="alert">New Feature! You can now add invitees details. Using the info pane to display invitees should be disused. Add invitees in the DISCIPLES/INVITEES menu</div>
    <% } %>

    

    <section class="container p-2">
            
