<% include partials/header %>
<div class="heading">
    <!-- <h1>Attendance <span>Report</span> Generator</h1>
    <h2 class="head">An app to simplify generating attendance reports</h2> -->
    <p></p>
    <!-- <p>You are logged in as <span><b><%= //loggedInWorker.username %></b></span>:<input class="form-control input-class" type="text" id="addNewWorker" name="name"
            placeholder="Add new worker to database" /></p> -->
    <a class="btn btn-primary btn-sm" href="/disciple/new">Add New Disciple</a>
    <a class="btn btn-success btn-sm" href="/report/new">Write New Report</a>
    <a class="btn btn-success btn-sm" href="/prayer">Prayer Report</a>
    <a class="btn btn-success btn-sm" href="/prayerchain">Prayer Chain Report</a>
    <a class="btn btn-success btn-sm" href="/lma/new">Add Worker</a>
</div>

<main class="row">
    <div class="col-md-12">
        <div class="list-workers">
            <h3></h3>
            <ol>
                <% subWorkers.forEach((foundWorker) => { %>
                    <li style="display: flex; justify-content: space-between;" _id="<%= foundWorker._id %>" > <%= foundWorker.firstname %>&nbsp;<%= foundWorker.surname %> 
                        <form action="/lma" method="POST">
                            <input style="display: none" type="text" name="id" value="<%= foundWorker._id %>" >
                        </form>
                        <a class="btn btn-sm btn-primary" href="/lma/report/<%= foundWorker._id %>">
                            <%= foundWorker.username %>'s Report
                        </a>
                        <a class="btn btn-sm btn-success" href="/lma/prayer/<%= foundWorker._id %>">
                            <%= foundWorker.username %>'s Prayer Report
                        </a>
                    </li>
                    <hr>
                <% });  %>
            </ol>
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
            </div>
            <p></p>
            <hr />
            <p></p>
            </br>
        </div>
        <p></p>
    </div>
</main>
<p></p>
<p></p>
<% include partials/footer %>