<% include partials/header %>

    <!-- <a class="btn btn-primary btn-sm" href="/lma">Back to LMA Admin</a> -->
</div>

<main class="row">
    <div class="col-md-12">
        <div class="list-workers">
            <!-- <h3></h3> -->
            <ol>
                <% workerCheck.forEach((foundWorker) => { %>
                    <li style="display: flex; justify-content: space-between;" _id="<%= foundWorker._id %>">
                        <%= foundWorker.firstname %>&nbsp;<%= foundWorker.surname %>
                        <form action="/lma" method="POST" class="worker-list-remove">
                            <input style="display: none" type="text" name="id" value="<%= foundWorker._id %>">
                            <button class="btn btn-sm btn-danger" _id="<%= foundWorker._id %>">Remove Worker</button>
                        </form>
                    </li>
                    <hr>
                <% }); %>
                <% addWorker.forEach((foundWorker) => { %>
                    <li style="display: flex; justify-content: space-between;" _id="<%= foundWorker._id %>">
                        <%= foundWorker.firstname %>&nbsp;<%= foundWorker.surname %>
                        <form action="/lma" method="POST" class="worker-list">
                            <input style="display: none" type="text" name="id" value="<%= foundWorker._id %>">
                            <button class="btn btn-sm btn-primary" _id="<%= foundWorker._id %>">Add Worker</button>
                        </form>
                    </li>
                    <hr>
                <% }); %>
            </ol>
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
            </div>
            <p></p>
            <hr />
            <p></p>
            </br>
        </div>
        <p></p>
    </div>
</main>
<p></p>
<p></p>
<% include partials/footer %>