<% include partials/header %>
<div class="heading">

    <p></p>
   
    <h3>Your prayer group is: <%= loggedInWorker.prayerGroup%> </h3>
    <a class="btn btn-primary btn-sm" href="/prayer/new">New Prayer Group Report</a>
    <!-- <a class="btn btn-success btn-sm" href="/report/new">Write New Report</a> -->
</div>

<main class="row">
    <div class="col-md-12" style="overflow-x:auto;">
        <br>
        <h3 class="p-3">Welcome <%= loggedInWorker.firstname %></h3>
        <table border="1" >
            <thead>
                <tr>
                    <th><b>Week</b></th>
                    <th><b>Week: Monday to Sunday</b></th>
                    <th><b>Day Prayed</b></th>
                    <th><b>Prayed?</b></th>
                </tr>
            </thead>
            <tbody>
            <% weekNumPrDb.forEach((elem) => { %>
                <tr>
                    <td>Week <%= elem[0] %></td>
                    <td><%= elem[2] %></td>
                    <td><%= elem[1] %></td>
                    <td>Yes</td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</main>
<p></p>
<p></p>
<% include partials/footer %>