<% include partials/header %>
</div>
<section class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 card card-body bg-light">
            <h1 class="text-center">My Profile</h1>
            <form class="text-center" action="/profile?_method=PUT" method="POST">
                <fieldset class="m-2">
                    <legend>Login Credentials</legend>
                    <hr>
                    <% if(loggedInWorker.googleIdentity){ %>
                        <p>Your account is linked to 
                            <span style="color: #4183F1">G</span><span style="color: #EA4335">o</span><span style="color: #FBBC05">o</span><span style="color: #4183F1">g</span><span style="color: #34A853">l</span><span style="color: #EA4335">e</span>!
                            </p>
                    <% } else { %>
                        <p>Would you like to link your Google account? <a class="btn btn-sm btn-primary" href="/google/auth/google">Yes</a></p>
                    <% } %>
                    
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2" for="username">Username:</label>
                        <input class="m-2 form-control" value="<%= loggedInWorker.username %>" readonly />
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2" for="firstname">Firstname:</label>
                        <input class="m-1 float-left form-control" type="text" id="firstname" name="firstname" value="<%= loggedInWorker.firstname %>" placeholder="Firstname">
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2" for="surname">Surname:</label>
                        <input class="m-1 float-left form-control" type="text" id="surname" name="surname" value="<%= loggedInWorker.surname %>" placeholder="Surname">
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2" for="email">Email:</label>
                        <input class="m-2 form-control" value="<%= loggedInWorker.email %>" readonly>
                    </div>
                </fieldset>
                <fieldset class="m-2">
                    <legend>Church Details</legend>
                    <hr>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2" for="church">Church:</label>
                        <select class="m-1 form-control" name="church" id="church">
                            <option value="<%= loggedInWorker.church %>"><%= loggedInWorker.church %></option>
                            <option value="Yaba">Yaba</option>
                        </select>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2" for="fellowship">Fellowship:</label>
                        <select class="m-1 form-control" name="fellowship" id="fellowship">
                            <option value="<%= loggedInWorker.fellowship %>"><%= loggedInWorker.fellowship %></option>
                            <option value="Yabatech">Yabatech</option>
                            <option value="New Garage">New Garage</option>
                        </select>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2" for="department">Department:</label>
                        <select class="m-1 form-control" name="department" id="department">
                            <option value="<%= loggedInWorker.department %>"><%= loggedInWorker.department %></option>
                            <option value="Technical Team">Technical Team</option>
                            <option value="Display Team">Display Team</option>
                            <option value="Guest Ministries">Guest Ministries</option>
                            <option value="Security">Security</option>
                            <option value="Operations Division">Operations Division</option>
                            <option value="Works">Works</option>
                            <option value="Worship Arts">Worship Arts</option>
                            <option value="Children Ministry">Children Ministry</option>
                            <option value="Livingword Media">Livingword Media</option>
                        </select>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2" for="prayerGroup">Prayer Group:</label>
                        <select class="m-1 form-control" name="prayerGroup" id="prayerGroup">
                            <option value="<%= loggedInWorker.prayerGroup %>"><%= loggedInWorker.prayerGroup %></option>
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday Morning">Saturday Morning</option>
                            <option value="Saturday Evening">Saturday Evening</option>
                        </select>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label class="m-2 text-left">Date you completed the Membership Class:</label>
                        <input type="date" value="<%= moment(loggedInWorker.membershipClass).format("YYYY-MM-DD")%>" name="membership-class" class="form-control" required/>
                    </div>
                </fieldset>

                <!-- BIO -->
                <fieldset class="m-2">
                    <legend>Bio</legend>
                    <hr/>
                    <div class="d-flex m-2">
                        <label class="p-3">Gender: </label>
                        <div class="d-flex justify-content-between">
                            <% if(loggedInWorker.gender == 'Female'){ %>
                                <div>
                                    <label class="px-3 pt-3">Female </label>
                                    <input type="radio" name="gender" value="Female" checked required/>
                                </div>
                                <div>
                                    <label class="px-3 pt-3">Male </label>
                                    <input type="radio" name="gender" value="Male" class="" />
                                </div>
                            <% } else { %>
                                <div>
                                    <label class="px-3 pt-3">Male </label>
                                    <input type="radio" name="gender" value="Male" checked class="" />
                                </div>
                                <div>
                                    <label class="px-3 pt-3">Female </label>
                                    <input type="radio" name="gender" value="Female" required/>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Date of Birth:</label>
                        <input type="date" name="date-of-birth" value="<%= moment(loggedInWorker.dateOfBirth).format("YYYY-MM-DD") %>" class="form-control" required/>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Address:</label>
                        <textarea type="text" name="address" placeholder="Address" class="form-control" required><%= loggedInWorker.address %></textarea>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Mobile Number:</label>
                        <input type="tel" name="mobile-number" minlength="11" maxlength="11" value="<%= loggedInWorker.mobileNumber %>" placeholder="08012345678" class="form-control" required/>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Marital Status:</label>
                        <select name="marital-status" class="form-control" required>
                            <option value="<%= loggedInWorker.maritalStatus %>"><%= loggedInWorker.maritalStatus %></option>
                            <option value="Single">Single</option>
                            <option value="Engaged">Engaged</option>
                            <option value="Married">Married</option>
                        </select>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Accommodation for Special Meetings:</label>
                        <select class="form-control" name="accommodation-type">
                            <% if(loggedInWorker.accommType){ %>
                                <option value="<%= loggedInWorker.accommType %>"><%= loggedInWorker.accommType %></option>
                                <option value="Chalet">Chalet</option>
                                <option value="Dormitory">Dormitory</option>
                            <% } else { %>
                                <option value="Chalet">Chalet</option>
                                <option value="Dormitory" selected>Dormitory</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="d-flex m-2 flex-column align-items-start">
                        <label>Employment Status:</label>
                        <select name="employment-status" class="form-control" required>
                            <option value="<%= loggedInWorker.employmentStatus %>"><%= loggedInWorker.employmentStatus %></option>
                            <option value="Employed">Employed</option>
                            <option value="Self-employed">Self-employed</option>
                            <option value="Student">Student</option>
                            <option value="Unemployed">Unemployed</option>
                        </select>
                    </div>
                </fieldset>

                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-9 col-sm-10 col-xs-12">
                        <input type="submit" value="Update" class="btn btn-md btn-primary btn-block m-2"></input>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</section>
<% include partials/footer %>