<% include partials/header %>
<div class="heading justify-content-between">
    <a class="btn btn-primary btn-sm m-1" href="/disciple/new">Add New Disciple</a>
    <a class="btn btn-success btn-sm m-1" href="/report/new">Write New Report</a>
    <a class="btn btn-success btn-sm m-1" href="/prayer">Prayer Group Report</a>
    <a class="btn btn-success btn-sm m-1" href="/prayerchain">Prayer Chain Report</a>
    <% if(loggedInWorker.isLMA) { %>
        <!-- <a class="btn btn-success btn-sm" href="/lma/new">Add Worker</a> -->
        <a class="btn btn-success btn-sm m-1" href="/lma">LMA Admin</a>
    <% } %>
    <a class="btn btn-info btn-sm m-1" href="/profile">Profile</a>
</div>

<main class="row">
    <div class="col-md-12">
        <div class="list-workers">
        <% for(i = reports.length-1; i >= 0; i--){ %>
        <% let day = dayWeek[i] %>
        <h3>Report <%= i+1 %></h3>
        <p class="date"><i><%= allDay[i] %>,&nbsp;&nbsp;<%= reports[i].date.getDate() %>/<%= month[i] %>/<%= reports[i].date.getFullYear() %>&nbsp;&nbsp;<%= reports[i].date.getHours() %>:<%= reports[i].date.getMinutes() %>:<%= reports[i].date.getSeconds() %></i></p>
        <% let disciples = reports[i].disciples; %>
        <ol>
            <% disciples.forEach((disciple) => { %>
                <li><%= disciple.name %></li>
            <% }); %>
        </ol>

        <div class="d-inline-flex ">
        <a class="btn btn-md btn-primary m-2" href="/report/<%= reports[i]._id %>">View Report</a>
            <% let dateReport = reports[i].date.getTime(); %>
            <% let date = Date.now(); %>
            <% let diffDate = date - dateReport; %>
            <% if(!(diffDate > 604800000)){ %>
                <a class="btn btn-md btn-success m-2" href="/report/<%= reports[i]._id %>/edit">Edit Report</a>
                <form action="/report/<%= reports[i]._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-md btn-danger m-2">Delete Report</button>
                </form>
            <% }; %>
        </div>
        <p></p>
        <hr />
        <p></p>
        </br>
        <% } %>
        </div>
        <p></p>
    </div>
</main>
<p></p>
<p></p>
<% include partials/footer %>