<% include ../partials/header %>
</div>

<div class="container">
    <div class="row card d-flex justify-content-center">
            <% if(baseUrl == "/lma"){ %>
                <h3 class="pt-5 text-center"><b> <%= workerDetails.firstname %> <%= workerDetails.surname %>'s Daily Activity Report</b></h3>
            <% } else { %>
                <h3 class="pt-5 text-center"><b>My Daily Activity Report</b></h3>
            <%}%>
            <div class="text-center">
                <% if(baseUrl == "/lma"){ %>
                    <br>
                    <p></p>
                <% } else { %>
                    <a class="btn btn-sm btn-primary col-md-4 col-lg-2 my-3" href="/new/lockdown/new">Write new report</a>
                <%}%>
            </div>
            <div>
                <table border="1" class="allLockdown" style="overflow-x: auto;">
                    <thead>
                        <tr>
                            <th><b>Date</b></th>
                            <th><b>Exhortation</b></th>
                            <th><b>Prayer Chain</b></th>
                            <th><b>Discipleship</b></th>
                            <th><b>Evangelism</b></th>
                            <th><b>Bible Study</b></th>
                            <th><b>Facebook</b></th>
                            <th><b>Telecast</b></th>
                            <th><b>Study Group</b></th>
                            <th><b>Optional</b></th>
                            <% if(baseUrl == "/lma"){ %>
                            <% } else { %>
                                <th><b>Delete</b></th>
                            <%}%>
                        </tr>
                    </thead>
                    <tbody>
                        <% lockdownReports.forEach((elem) => { %>
                        <tr>
                            <td><%= elem.dateOfReport %></td>
                            <td><%= elem['data']['prayerChain'][1] %> - <%= elem['data']['prayerChain'][2] %>; &emsp; <%= elem['data']['prayerChain'][3] %> - <%= elem['data']['prayerChain'][4] %>; &emsp; <%= elem['data']['prayerChain'][5] %> - <%= elem['data']['prayerChain'][6] %></td>
                            <td class="text-paragraphs"><%= elem['data']['exhortation'][1] %></td>
                            <td class="text-paragraphs"><%= elem['data']['discipleship'][2] %></td>
                            <% if (elem.data.evangelism[6] == "") { %>
                                <td>&nbsp;</td>
                            <% } else { %>
                                <td class="text-paragraphs"><%= elem['data']['evangelism'][6] %></td>
                            <% } %>
                            <td><%= elem['data']['bibleStudy'][1] %></td>
                            <td class="text-paragraphs"><%= elem['data']['facebook'][1] %></td>
                            <% if(elem['data']['telecast'] == "true") { %>
                                <td>Yes</td>
                            <% } else if (elem['data']['telecast'] == "false") { %>
                                <td>No</td>
                            <% } else {%>
                                <td>&nbsp;</td>
                            <% } %>
                            <td><%= elem['data']['studyGroup'][0] %>, <%= elem['data']['studyGroup'][1] %></td>
                            <% if(elem['data']['optional'] !== "") { %>
                                <td><%= elem['data']['optional'] %></td>
                            <%} else {%> 
                                <td>&nbsp;</td>
                            <% } %>
                            <% if(baseUrl == "/lma" || (Date.now() - elem.date.getTime()) >= 86400000 ){ %>
                            <% } else { %>
                                <td>
                                    <div class="d-inline-flex">
                                        <form action="/new/lockdown/<%= elem.id %>?_method=DELETE" method="POST" class="d-inline-flex mx-2">
                                            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                                        </form>
                                        <form action="/new/lockdown/<%= elem.id %>/edit" method="GET" class="d-inline-flex mx-2">
                                            <input type="submit" value="Edit" class="btn btn-sm btn-warning">
                                        </form>
                                    </div>
                                </td>
                            <%}%>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
    </div>
</div>
<% include ../partials/footer %>