<% include ./../partials/header %>

<div class="heading">
    <h1 class="text-center">Prayer Group Report</h1>
    <hr/>
    <p class="text-center">Code: <%= thisUser.prayerCode %> </p>
    <a href="/prayergroup/admin" class="btn btn-sm">Back</a>
    <p></p>
    <a class="hide-del-btn btn btn-sm">Show/Hide "X"</a>
</div>

<main class="container copy-inner-text" id="prayer-group-coord">
    <div class="container">
        <div class="container">
            <ol>
            <p id="total">Total Attendance: *<%= total %>* people</p></br>
                <% for(let status in oneReport){ %>
                    <div class="<%= status %>">
                        *<%= status %>s (<%= oneReport[status].length %>)*
                        <% oneReport[status].forEach((prayor) => { %>
                            <li>
                                <%= prayor.firstname %> <%= prayor.surname %> | <%= prayor.arrivalTime %> | <%= prayor.zone %> 
                                <span class="del-btn" link="/prayergroup/<%= oneReport._id %>/delete/<%= prayor._id %>">X</span>
                            </li>
                        <% }) %>
                        <br>
                    </div>
                <% } %>
            </ol>
        </div>
    </div>
</main>
<div class="container">
    <a class="copy-list-2 btn btn-sm mt-2">Copy for Pastor</a>
    <a class="copy-list btn btn-sm mt-2">Copy All</a>
</div>
<% include ./../partials/footer %>