<% include ./../partials/header %>

<div class="heading">
    <h1 class="text-center">&#x1F609 Success</h1>
    <hr/>
    <p class="text-center">You have reported your prayer group participation successfully</p>
    <p class="text-center">&#x1F447 Confirm your name on the list</p>
</div>

<main class="container">
    <div class="container">
        <div class="container form-group">
            <ol>
                <% foundPrayerGroup.attendance.forEach((item)=>{ %>
                    <li><%= item.firstname %> <%= item.surname %> (<%= item.status %>) | <%= item.arrivalTime %> | <%= item.zone %> 
                        <% if(item.prayerGroup){ %>
                            | <%= item.prayerGroup %> 
                        <% } %>
                    </li>
                <% }) %> 
            </ol>
        </div>
    </div>
</main>
<% include ./../partials/footer %>