<% include ./../partials/header %>

    <a class="btn btn-primary btn-sm" href="/profile">Change Prayer Group</a>

</div>

<div class="heading">

    <p></p>

    <h3>Your prayer group is: <%= loggedInWorker.prayerGroup%> </h3>
</div>

<main class="row">
    <div class="col-md-12">
        <br>
        <h4><u>Instructions:</u></h4>
        <ol>
            <li>Pick the day you prayed.
                <br>
                However, if you are:
                <ul>
                    <li><b>Praying ahead: </b>Pick the day you are <b>supposed</b> to pray.</li>
                    <li><b>Making up: </b>Pick the day you <b>ought</b> to have prayed.</li>
                </ul>
            </li>
            <li>Click the <span class="notify"><b>"submit"</b></span> button.</li>
        <br>
        <form action="/prayer" method="POST" class="text-center">
            <select name="dayPrayed">
                <!-- List all Possible Days -->
                <% let arrDay = [[0, "Sunday"], [1, "Monday"], [2, "Tuesday"], [3, "Wednesday"], [4, "Thursday"], [5, "Friday"], [6,
                    "Saturday"]]; %>
                <% let arrMonth = [[0, "Jan"], [1, "Feb"], [2, "Mar"], [3, "Apr"], [4, "May"], [5, "Jun"], [6,
                                "Jul"], [7, "Aug"], [8, "Sep"], [9, "Oct"], [10, "Nov"], [11, "Dec"],]; %>

                <% for(let i = 0; i < 14; i++) { %>
                <h3> <%= [i] %> </h3>
                <% let a = Date.now(); %>
                <% let b = a - (86400000 * (i-6)); %>
                <% let c = new Date(b); %>
                <% let d = new Date(); %>

                <% if(i === 0 && d.getHours() < 21 ){  %>
                <% } else {  %>
                    <option value="<%= c %>"><%= arrDay[c.getDay()][1] %> <%= arrMonth[c.getMonth()][1] %> <%= c.getDate() %>, <%= c.getFullYear() %></option>
                <% }; %>
                <p></p>
                <% }; %>
            </select>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-8">
                <button class="btn btn-sm btn-success">Submit</button>
            </div>
        </form>
    </div>
</main>
<p></p>
<p></p>
<% include ./../partials/footer %>