<% include ../partials/header %>




<main class="column">
    <div class="list-workers">
        <h2><%= foundWorker.firstname %> <%= foundWorker.surname %>'s Disciples</h2>
        <ol class="disciple-list">
            <% disciples.forEach((disciple) => { %>
                <li class="add-remove-worker">
                    <div class="d-inline">
                        <%= disciple.name%>
                        <%= foundWorker.discAssoc %> 
                        <% if (foundWorker.discAssoc) { %>
                        <% } else if (!disciple.discipler) { %>
                            <a href="/lma/<%= foundWorker._id %>/disciple/<%= disciple._id %>" class="assoc-disc" style="float: right;">Link Discipler</a>
                        <% } %>
                    </div>
                </li>
            <% }); %>
        </ol>
    </div>
</main>
<p></p>
<% include ../partials/footer %>