<% include ../partials/header %>
<!-- <a class="btn btn-primary btn-sm m-1" href="/prayer/new">New Prayer Group Report</a> -->
<!-- <a class="btn btn-success btn-sm" href="/report/new">Write New Report</a> -->
</div>

<main class="row">
    <div class="col-md-12" style="overflow-x:auto;">
        <br>
        <h3 class="p-3">All Workers Stay-Home Activity Report</h3>
        <div class="mx-3">
            <% if (manyArr.length > 0 && manyArr[0]) { %>
                <h3>Date: <%= moment(startOfToday).startOf("day").format("DD-MM-YYYY") %> </h3>
            <% } else { %>
                <h3>Date: </h3>
            <% } %>
            <p>Select a date to query for data</p>
            <form action="/lma/lockdown/" id="form-lockdown">
                <div class="d-inline-flex">
                    <input type="date" name="date-lockdown" id="date-lockdown" class="form-control mx-2">
                    <input type="submit" class="btn btn-sm btn-secondary mx-2">
                </div>
            </form>
        </div>
        <p></p>
        <% if (manyArr.length < 1) { %>
            <p>Nothing to show here </p>
        <% } else { %>
            <table border="1" class="allLMALockdown" style="overflow-x: auto;">
                <thead>
                    <tr>
                        <th><b>S/N</b></th>
                        <th><b>Name</b></th>
                        <th><b>Time</b></th>
                        <th><b>Prayer Chain</b></th>
                        <th><b>Discipleship</b></th>
                        <th><b>Evangelism</b></th>
                        <th><b>Bible Study</b></th>
                        <th><b>Exhortation</b></th>
                        <th><b>Facebook</b></th>
                        <th><b>Study Group</b></th>
                        <th><b>Telecast</b></th>
                        <th><b>Optional</b></th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <% let allDiscShip = manyArr.reduce((acc, cur)=>{ %>
                            <% return acc + Number(cur.data.discipleship[0]); %>
                        <% }, 0); %>
                        <% let allDiscShipPhys = manyArr.reduce((acc, cur)=>{ %>
                            <% return acc + Number(cur.data.discipleship[1]); %>
                        <% }, 0); %>
                        <% let allEvglsm = manyArr.reduce((acc, cur)=>{ %>
                            <% return acc + parseInt(cur.data.evangelism[1]); %>
                        <% }, 0); %>
                        <% let allEvglsmSvd = manyArr.reduce((acc, cur)=>{ %>
                            <% return acc + Number(cur.data.evangelism[2]); %>
                        <% }, 0); %>
                        <% let allEvglsmFld = manyArr.reduce((acc, cur)=>{ %>
                            <% return acc + Number(cur.data.evangelism[3]); %>
                        <% }, 0); %>
                        <% let allEvglsmPrph = manyArr.reduce((acc, cur)=>{ %>
                            <% return acc + Number(cur.data.evangelism[4]); %>
                        <% }, 0); %>
                        <% let allEvglsmHld = manyArr.reduce((acc, cur)=>{ %>
                            <% return acc + Number(cur.data.evangelism[5]); %>
                        <% }, 0); %>
                        <th><b>Total</b></th>
                        <th><b><%= manyArr.length %></b></th>
                        <th><b></b></th>
                        <th><b></b></th>
                        <th><b><%= allDiscShip %> (<%= allDiscShipPhys %>)</b></th>
                        <th><b><%= allEvglsm %> (<%= allEvglsmSvd %>, <%= allEvglsmFld %>, <%= allEvglsmPrph %>, <%= allEvglsmHld %>)</b></th>
                        <th><b></b></th>
                        <th><b></b></th>
                        <th><b></b></th>
                        <th><b></b></th>
                        <th><b></b></th>
                        <th><b></b></th>
                    </tr>
                </thead>
                <tbody>
                    <% manyArr.forEach((elem, i) => { %>
                    <tr>
                        <td><%= i+1 %> </td>
                        <td><a href="/lma/<%= elem.id %>/lockdown"><%= elem['firstname'] %> <%= elem['surname'] %></a></td>
                        <% if( moment(elem.date).valueOf() < moment().startOf('day').valueOf() || moment(elem.date).valueOf() > moment().endOf('day').valueOf ){ %>
                            <td><%= moment(elem.date).format("DD-MM-YYYY") %> <%= elem.date.getHours() %>:<%= elem.date.getMinutes() %></td>
                        <% } else { %>
                            <td><%= elem.date.getHours() %>:<%= elem.date.getMinutes() %></td>
                        <% } %>
                        <td><%= elem['data']['prayerChain'][0] %></td>
                        <td><%= elem['data']['discipleship'][0] %> (<%= elem['data']['discipleship'][1] %>)</td>
                        <% if ( elem['data']['evangelism'][0] == "true" ) { %>
                        <td><%= elem['data']['evangelism'][1] %> (<%= elem['data']['evangelism'][2] %>,
                            <%= elem['data']['evangelism'][3] %>, <%= elem['data']['evangelism'][4] %>,
                            <%= elem['data']['evangelism'][5] %>)</td>
                        <% } else { %>
                        <td>0</td>
                        <% } %>
                        <td><%= elem['data']['bibleStudy'][0] %></td>
                        <td><%= elem['data']['exhortation'][0] %></td>
                        <td><%= elem['data']['facebook'][0] %></td>
                        <td><%= elem['data']['studyGroup'][0] %>, <%= elem['data']['studyGroup'][1] %></td>
                        <td><%= elem['data']['telecast'] %></td>
                        <td><%= elem['data']['optional'] %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

            <!-- WORKERS With NO REPORTS YET -->
            <p></p>
            <h3>Workers with no Reports Yet</h3>
            <table border="1" class="allLMALockdown" style="overflow-x: auto;">
                <thead>
                    <tr>
                        <th><b>S/N</b></th>
                        <th><b>Name</b></th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th><b>Total</b></th>
                        <th><b> <%= noReportYet.length %></b></th>
                    </tr>
                </thead>
                <tbody>
                    <% noReportYet.forEach((elem, i) => { %>
                    <tr>
                        <td><%= i+1 %> </td>
                        <td><a href="/lma/<%= elem.id %>/lockdown"><%= elem['firstname'] %> <%= elem['surname'] %></a></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %> 
    </div>
</main>
<p></p>
<p></p>
<% include ../partials/footer %>