<% include ./../partials/header_lma %>

</div>

<main class="row">
    <div class="col-md-12">
        <div class="list-workers">
            <!-- <h3></h3> -->
            <ol class="worker-list">
                <% workerCheck.forEach((foundWorker) => { %>
                    <li class="add-remove-worker" data-id="<%= foundWorker._id %>">
                        <%= foundWorker.firstname %>&nbsp;<%= foundWorker.surname %>
                        <a href="#" class="btn btn-sm btn-warning">Remove</a>
                    </li>
                <% }); %>
                <% addWorker.forEach((foundWorker) => { %>
                    <li class="add-remove-worker" data-id="<%= foundWorker._id %>">
                        <%= foundWorker.firstname %>&nbsp;<%= foundWorker.surname %>
                        <a href="#" class="btn btn-sm btn-outline-primary">Add</a>
                    </li>
                <% }); %>
            </ol>
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
            </div>
            <p></p>
            <p></p>
            </br>
        </div>
        <p></p>
    </div>
</main>
<p></p>
<p></p>
<% include ./../partials/footer %>