<% include ./../partials/header %>
</div>

<main class="row">
    <div class="col-md-12">
        <h3><%= owner.firstname %> <%= owner.surname %>'s Prayer Chain Report</h3>
        <div>
            <label>Choose a Week Number: </label>
            <input type="number" name="week-number" id="week-chooser-lma" user-id="<%= owner.id %>" min="1" max="<%= moment().weeksInYear()%>" value="<%= moment().locale("en-us").week() %>""/>
        </div>
        </br>
            <% if(!weekPrChain) { %>
                <h5>Week <span id="prayer-week-number"><%= moment().locale("en-us").week() %></span>: <span id="week-span"><%= moment().locale("en-us").startOf('week').format('ddd MMM Do') %> - <%= moment().locale("en-us").endOf('week').format('ddd MMM Do') %></span></h5>
                <h5>Prayer Ratio: <span id="prayer-ratio">0</span>/7</h5>
            <% } else { %>
                <h5>Week <span id="prayer-week-number"><%= weekPrChain.week %></span>: <span id="week-span"><%= moment().locale("en-us").startOf('week').format('ddd MMM Do') %> - <%= moment().locale("en-us").endOf('week').format('ddd MMM Do') %></span></h5>
                <h5>Prayer Ratio: <span id="prayer-ratio"><%= weekPrChain.frequency %></span>/7</h5>
            <% } %>
            <table class="allLMALockdown" id="prayer-chain-table">
                <thead>
                    <td><b>Day</b></td>
                    <td><b>Start</b></td>
                    <td><b>End</b></td>
                </thead>
                <tbody>
                <% if (weekPrChain) { %>
                    <% for(let i = 0; i <= 6; i++){ %>
                            <tr>
                                <% if(weekPrChain[i].start){ %>
                                    <td><%= moment(weekPrChain[i].start).format('ddd') %> </td>
                                    <td><%= moment(weekPrChain[i].start).format('LT') %> </td>
                                <% } else { %>
                                    <td><%= moment().day(i).format('ddd') %></td>
                                    <td> - </td>
                                <% } %>
                                <% if(weekPrChain[i].end){ %>
                                    <td><%= moment(weekPrChain[i].end).format('LT') %> </td>
                                <% } else { %>
                                    <td> - </td>
                                <% } %>
                            </tr>
                        <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="10">Nothing to show here yet!</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
    </div>
</main>
<p></p>
<p></p>
<% include ./../partials/footer %>