<% include partials/header %>
<div class="heading">

    <p></p>
   
    <h3>Your prayer group is: <%= loggedInWorker.prayerGroup%> </h3>
    <a class="btn btn-primary btn-sm" href="/prayer/new">New Prayer Group Report</a>
    <!-- <a class="btn btn-success btn-sm" href="/report/new">Write New Report</a> -->
</div>

<main class="row">
    <div class="col-md-12">
        <h3>Welcome <%= loggedInWorker.username %></h3>
        <table border="1" >
            <tr>
                <td><b>Week</b></td>
                <td><b>Week: Sunday to Saturday</b></td>
                <td><b>Day Prayed</b></td>
                <td><b>Prayed?</b></td>
            </tr>
            <% weekNumPrDb.forEach((elem) => { %>
                <td>Week <%= elem[0] %></td>
                <td><%= elem[2] %></td>
                <td><%= elem[1] %></td>
                <td>Yes</td>
            <% }); %>


            
                </tr>
            <% }; %>
        </table>
    </div>
</main>
<p></p>
<p></p>
<% include partials/footer %>