<% include ../partials/header %>
 
        <a class="btn btn-primary btn-sm" href="/disciple/new">Add New Disciple</a>
</div>    

<div class="heading">
    <h1>Report <%= index + 1 %> - Attendance Report</h1>
</div>

<main class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="list-disciples">
            <h2>Edit Report</h2>
            <p class="notabene">Add DISCIPLES here by clicking on a name from the <a href="#disciples-pane">disciples pane</a> NON-DISCIPLES should be written in the INFO pane below.</p>
            <h3><span id="title"><%= thisReport.title %></span> for <span id="for"><%= thisReport.for %></span></h3>
            <ol class="list edit-report-remove d-flex flex-column" data-report="attendance">
               <% if (thisReport && thisReport.length !== 0) { %>
                <% let discs = thisReport.disciples; %> <!-- Display all disciples here -->
                    <% discs.forEach((disc) => { %>
                        <div class="hoverer d-inline-flex justify-content-between p-1">
                            <li id="<%= disc._id %>"><%= disc.name %></li>
                            <form class="disciple-list-remove">
                                <input style="display: none" type="text" name="id" value="<%= disc._id %>">
                                <input type="button" value="Remove" class="select btn btn-sm btn-danger" data-report-id="<%= thisReport._id %>" _id="<%= disc._id %>"/>
                            </form>
                        </div>
                    <% }); %> 
                <% } %>
            </ol>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="list-disciples">
            <h2 id="disciples-pane">Disciples Pane</h2>
            <ol class="absent edit-report d-flex flex-column" data-report="attendance">
                <% let allDiscs = thisReport.disciples; %> <!-- Display all disciples here -->
                <% remDisciples.forEach((disc) => { %>
                    <div class="hoverer d-inline-flex justify-content-between p-1">
                        <li id="<%= disc._id %>"><%= disc.name %> (<%= disc.type %>)</li>
                        <form class="disciple-list">
                            <input style="display: none" type="text" name="id" value="<%= disc._id %>">
                            <input type="button" value="Add" class="select btn btn-sm btn-primary" data-report-id="<%= thisReport._id %>" _id="<%= disc._id %>"/>
                        </form>
                    </div>
                <% }); %>
            </ol>
        </div>
    </div>
    <div>

    </div>
</main>
<p></p>
<form class="submitter" data-report-id="<%= thisReport._id %>" action="/attendance/<%= thisReport._id %>?_method=PUT" method="POST">
    <div class="list-workers">
        <h3>INFO Pane</h3>
        <p class="notabene">Other additional information comes here.</p>
        <textarea class="form-control" id="info" name="info" placeholder="Additional Information" rows="8"><%= thisReport.info %></textarea>
    </div>
    <br>
    <input type="submit" id="edit-attendance" class="btn btn-primary text-center"/>       
</form>
<p></p>
<% include ../partials/footer %>