<% include ./../partials/header %>
</div>

<% if( foundWorker._id.toString() == loggedInWorker._id.toString() ) { %>
    <div class="heading">
        <a class="btn btn-primary btn-sm" href="/prayerchain/new">New Prayer Chain Report</a>
    </div>
<% } %>

<main class="row">
    <div class="col-md-12">
        <% if( foundWorker._id.toString() == loggedInWorker._id.toString() ) { %>
            <h3>My Prayer Chain Report</h3>
        <% } else { %>
            <h3><%= foundWorker.firstname %> <%= foundWorker.surname %>'s Prayer Chain Report</h3>
        <% } %>

        <br>
        <h3>Week <%= thisWeekNum %></h3>
        <h4>Prayer Ratio: <%= allDayPrayed.length %>/7</h4>
        <table>
            <% allDayPrayed.forEach((oneItem) => { %>
                <tr>
                    <td><%= oneItem[0] %></td>
                    <td><%= oneItem[1] %></td>
                    <td><%= oneItem[2] %></td>
                    <td>Yes</td>
                </tr>
            <% }) %>
        </table>
    </div>
</main>
<p></p>
<p></p>
<% include ./../partials/footer %>