<% include ./../partials/header %>
</div>
<%= ownerStatus %>
<% if (ownerStatus) { %>
    <div class="heading">
        <a class="btn btn-primary btn-sm" href="/profile">Change Prayer Group</a>
        <a class="btn btn-primary btn-sm" href="/prayerchain/new">New Prayer Chain Report</a>
    </div>
<% } %>

<main class="row">
    <div class="col-md-12">
        <h3>Welcome <%= loggedInWorker.firstname %> <%= loggedInWorker.surname %></h3>

        <br>
        <h3>Week <%= thisWeekNum %></h3>
        <h4>Prayer Ratio: <%= allDayPrayed.length %>/7</h4>
        <table>
            <% allDayPrayed.forEach((oneItem) => { %>
                <tr>
                    <td><%= oneItem[0] %></td>
                    <td><%= oneItem[1] %></td>
                    <td><%= oneItem[2] %></td>
                    <td>Yes</td>
                </tr>
            <% }) %>
        </table>
    </div>
</main>
<p></p>
<p></p>
<% include ./../partials/footer %>