<% include ../partials/header %>
</div>
<div class="heading">
    <a class="btn btn-success btn-sm" href="/expected">Back to Expected Attendance Reports</a>
</div>

<main class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="list-workers">
                <h2><i class="fas fa-pen-alt pr-3" aria-hidden="true"></i>Expected Attendance Report</h2>
                <p class="notabene">Add disciples/invitees here by clicking on a name from the <a href="#disciples-pane">disciples pane</a> OTHER information should be written in the INFO pane below.</p>
                <div class="form-group d-flex form-box">
                    <label for="title" class="mt-2">Title: </label>
                    <select name="title" id="title" class="ml-2 scc-form small-text">
                        <option value="Expected Attendee(s)">Expected Attendee(s)</option>
                    </select>
                </div>
                <div class="form-group d-flex form-box">
                    <label for="for" class="mt-2">For: </label>
                    <select name="for" id="for" class="ml-2 scc-form small-text">
                        <option value="Sunday" selected>Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Believer's Convention">Believer's Convention</option>
                        <option value="Charis Campmeeting">Charis Campmeeting</option>
                    </select>
                </div>
                <ol class="list d-flex flex-column">
                    
                </ol>
            </div>
        
        <p></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="list-disciples">
            <h2 id="disciples-pane">Disciples Pane</h2>
            <h5><a href="/disciple/new"> <i class="fas fa-plus-circle"> Add New Disciple / Invitee</i></a></h5>
            <ol class="absent d-flex flex-column">
                <% allDisciples.forEach((disc) => { %>
                    <div class="hoverer d-inline-flex justify-content-between p-1">
                        <li id="<%= disc._id %>"><%= disc.name %> (<%= disc.type %>)</li>
                        <form class="disciple-list">
                            <input style="display: none" type="text" name="id" value="<%= disc._id %>">
                            <input type="button" value="Add" class="select btn btn-sm btn-primary" _id="<%= disc._id %>"></input>
                        </form>
                    </div>
                <% }); %>
            </ol>
        </div>
    </div>
    <div>

    </div>
</main>
<p></p>
<div class="list-workers">
    <h2>INFO Pane</h2>
    <p class="notabene">Other additional information comes here</p>
    <textarea class="form-control" id="info" val="" name="info" placeholder="Additional information"
        rows="8"></textarea>
</div>
    <form action="/expected" method="POST" class="">
        <button class="btn btn-primary text-center" id="export-expected-attendance">Submit Report</button>        
    </form>
<p></p>
<% include ../partials/footer %>