<% include ../partials/header %>
<div class="heading">

    <a class="btn btn-primary btn-sm" href="/disciple/new">Add New Disciple</a>
    <a class="btn btn-success btn-sm" href="/expected">Back to All Reports</a>
    <br>
    <p class="m-5"></p>
    <h1>Report <%= index + 1 %></h1>
</div>

<main class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="list-workers">
            <h2>List of Disciples in Report <%= index + 1 %></h2>
            <ol class="d-flex flex-column">
               <% if (thisReport && thisReport.length !== 0) { %>
                <% let discs = thisReport.disciples; %> <!-- Display all disciples here -->
                    <% discs.forEach((disc) => { %>
                        <div class="hoverer d-inline-flex justify-content-between p-1">
                            <li id="<%= disc._id %>"><%= disc.name %></li>
                        </div>
                    <% }); %> 
                <% } %>
            </ol>
        </div>
    </div>
    <div class="list-workers">
        <h3>Additional Information</h3>
            <% if(thisReport && thisReport.info) { %>
                <p name="info"><%= thisReport.info%></p>
            <% } else { %>
                <p><i>Nothing to show here</i></p>
            <% } %>
    </div>
</main>
<a class="btn btn-md btn-success m-2" href="/expected/<%= thisReportId %>/edit">Edit Report</a>
<p></p>
<p></p>
<% include ../partials/footer %>