<% include ../../partials/header %>


<main class="row">
    <div class="col-md-12" style="overflow-x:auto;">
        <br>
        <h3 class="p-3">All Workers Attendance Report</h3>
        <div class="mx-3">
            <% if (result.manyArr.length > 0 && result.manyArr[0]) { %>
                <h3>Date: <%= moment(result.startOfToday).startOf("day").format("DD-MM-YYYY") %> </h3>
            <% } else { %>
                <h3>Date: </h3>
            <% } %>
            <p>Select a date to query for data</p>
            <!-- <form action="/lma/all/expected" id="form-lockdown" class="date-to-query"> -->
            <div class="d-inline-flex">
                <input type="date" name="date-lockdown" id="date-lockdown" class="form-control mx-2">
                <input type="submit" class="btn btn-sm btn-secondary mx-2">
            </div>
            
            <!-- </form> -->
        </div>
        <p></p>
        <table border="1" class="allLMALockdown" id="table-lockdown-one" style="overflow-x: auto;">
            <thead>
                <tr>
                    <th><b>S/N</b></th>
                    <th><b>Summoner</b></th>
                    <th><b>Disciples / Invitees</b></th>
                    <th><b>Info</b></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <% if (result.manyArr.length < 1) { %>
            <p class="pl-4">Nothing to show here </p>
        <% } else { %>
            <table border="1" class="allLMALockdown" id="table-lockdown-one" style="overflow-x: auto;">
                <thead>
                    <tr>
                        <th><b>S/N</b></th>
                        <th><b>Name</b></th>
                        <th><b>Title</b></th>
                        <th><b>For</b></th>
                        <th><b>Disciples</b></th>
                        <th><b>Info</b></th>
                    </tr>
                </thead>
                <thead>
                    
                </thead>
                <tbody>
                    <tr>
                        <td><b>Total</b></td>
                        <td><b><%= result.manyArr.length %></b></td>
                        <td><b>&nbsp;</b></td>
                        <td><b>&nbsp;</b></td>
                        <td><b><%= result.totalAttendees %></b></td>
                        <td><b>&nbsp;</b></td>
                    </tr>
                    <% result.manyArr.forEach((elem, i) => { %>
                        <tr>
                            <td><%= result.manyArr.length-i %> </td>
                            <td><a href="/lma/<%= elem.id %>/attendance"><%= elem['firstname'] %> <%= elem['surname'] %></a></td>
                            <td><%= elem['title'] %></td>
                            <td><%= elem['for'] %> </td>
                            <td>
                                
                            </td>
                            <td><%= elem['info'] %></td>
                        </tr>
                        <% elem['disciples'].forEach((item, j) => { %>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <% if ( elem['disciples'].length > 0 ) { %>
                                            <%= item %>
                                    <% } else { %>
                                            0
                                    <% } %>
                                </td>
                                <td></td>
                            </tr>
                        <% }); %>
                    <% }); %>
                </tbody>
            </table>
            <div class="copy-text">
                <h3>Workers with Reports</h3>     
                <textarea id="list-reports" class="form-control text-paragraphs"><%= result.reportList %></textarea>
                <button id="copy-report-list" class="btn btn-sm btn-secondary">Copy List</button>
            </div>

            <!-- WORKERS With NO REPORTS YET -->
            <p></p>
            <h3>Workers with no Reports Yet</h3>
            <table border="1" class="allLMALockdown" style="overflow-x: auto;">
                <thead>
                    <tr>
                        <th><b>S/N</b></th>
                        <th><b>Name</b></th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th><b>Total</b></th>
                        <th><b> <%= result.noReportYet.length %></b></th>
                    </tr>
                </thead>
                <tbody>
                    <% result.noReportYet.forEach((elem, i) => { %>
                    <tr>
                        <td><%= i+1 %> </td>
                        <td><a href="/lma/<%= elem.id %>/attendance"><%= elem['firstname'] %> <%= elem['surname'] %></a></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <p></p>
            <div class="copy-text">
                <h3>List of Workers with no Reports</h3>
                <textarea id="list-no-lockdown-reports" class="form-control text-paragraphs"><%= result.noReportNames %></textarea>
                <button id="copy-no-report-list" class="btn btn-sm btn-secondary">Copy List</button>
            </div>

        <% } %> 
    </div>
</main>
<p></p>
<p></p>
<% include ../../partials/footer %>